.booking-chart-sec{
    width: 100%;
    background-color: white;
    border-radius: 0.3em;
    height: 57vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4vh 0;
    box-shadow: 0 0 8px 0 var(--btn-bg-main-2);
}
.booking-chart-header{
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 16%;
}
.booking-chart-text-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}
.booking-chart-count-label{
    color: var(--text-blue);
    font-size: 0.75em;
}
.booking-chart-count{
    color: var(--text-blue);
    font-size: 1.1em;
    font-weight: bold;
}
.booking-chart-timeline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 38%;
    align-items: center;
}
.booking-chart-year{
    color: var(--text-dark);
    font-weight: 700;
    font-size: 0.75em;
}
.booking-chart-year-select{
    font-size: 0.75em;
    border: none;
    margin-right: 2vw;
    color: var(--text-dark);
    opacity: 0.4;
    font-weight: 600;
}
.booking-chart-year-option{
    font-size: 0.75em;
    border: none;
}