.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 95vh;
    background-color:var(--nav-color-bg);
    margin-top: 2vh;
    border-radius: 0.2em;
    margin: 2vh 2vw 2vh 0.5vw;
}
.logo{
    width:25%;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
}
.linkCont{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
}
.link {
    color:white;
    list-style: none;
    opacity: 0.7;
    cursor:pointer;
    font-size: 0.8em;
}
.link:hover {
    color: white;
    opacity:1;
    list-style-type: disc;
}
.logoutBtn {
    background-color: var(--btn-bg-main);
    color: white;
}