.reports-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 80vh;
}
.no-reports-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}
.no-reports-icon-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-color-bg);
    border-radius: 0.3em;
    width: 2.5em;
    height: 2.5em;
    margin: 2vh 0;
}
.no-reports-icon{
    color: var(--main-color-bg);
    font-size: 1.5em;
    font-weight: bold;
}
.no-reports-text{
    text-align: center;
    font-size: 0.7em;
    font-weight: 300;
}

/* report list styling */

.report-list-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0;
    width: 40%;
    min-height: 85vh;
    background-color: white;
    border-radius: 0.3em;
}
.report-num-text{
    width: 90%;
    text-align: left;
    display: flex;
    flex-direction: row;
    color: var(--text-dark);
    font-size: 0.65em;
    font-weight: 500;
}
.report-card-cont{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin: 2vh 0;
}

/* report list card styling */

.report-list-card{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;
}
.report-profile-circle{
    width: 1.4em;
    height: 1.4em;
    background-color: var(--bg-light-grey);
    border-radius: 1em;
}
.report-list-card-sender{
    display: flex;
    flex-direction: row;
    width: 83%;
    padding: 2.7vh 0.7vw;
    justify-content: flex-start;
    text-align: left;
    color: var(--text-dark);
    background-color: white;
    border-radius: 0.3em;
    box-shadow: 0 0 8px var(--bg-light-grey);
    font-size: 0.7em;
    font-weight: 600;
    align-items: flex-end;
}

.report-list-card-sender-selected{
    display: flex;
    flex-direction: row;
    width: 83%;
    padding: 2.7vh 0.7vw;
    justify-content: flex-start;
    text-align: left;
    color: var(--text-dark);
    background-color: black;
    border-radius: 0.3em;
    font-size: 0.7em;
    font-weight: 600;
    align-items: flex-end;
    color: var(--text-light);
}
.report-list-card-text{
    font-weight: 400;
    font-size: 0.95em;
}