:root{
    --main-color-bg:#F1F1F1;
    --nav-color-bg:#11002C;
    --btn-bg-main-2:#4B1FD5;
    --btn-bg-main-1:#8E0FF0;
    --text-light:white;
    --text-dark:black;
    --text-blue:#4B1FD5;
    --bg-light-grey:#D9D9D9;
    --base-gradient:linear-gradient(to left,var(--btn-bg-main-1),var(--btn-bg-main-2));
    --reverse-gradient:linear-gradient(to right,var(--btn-bg-main-1),var(--btn-bg-main-2));
}
* {
    margin:0;
    padding:0;
    /* overflow-x: hidden; */
}
body{
    overflow-x: hidden;
    margin: 0;
    padding:0;
}
.app {
    display:flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--main-color-bg);
   /* background-color: #11002C; */
}
.page{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2vh 0 0 0;
    min-height: 97vh;
    
    /* background-color: #8E0FF0; */
}
.page-full-width{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vh;
    min-height: 97vh;
}
@media only screen and (max-width: 1000px) {
    .page{
        width: 100%;
        overflow-x: hidden;
    }
    .page-full-width{
        width: 100%;
        align-items: center;
    }
  }