:root{
    --main-color-bg:#F1F1F1;
    --nav-color-bg:#11002C;
    --btn-bg-main:#4B1FD5;
    --text-light:white;
    --text-dark:black;
    --text-colour:#4B1FD5;
    --bg-light-grey:#D9D9D9;
}
body {
    margin:0;
    padding:0;
}
.app {
    display:flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    
}